.sign-in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.sign-in > img {
  width: 100%;
  height: 100vh;
}

.sign-in > .sign-in-right {
  margin: 36px 36px;
  position: relative;
}
.sign-in > .sign-in-right > .sign-in-container > .sign-in-right-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in > .sign-in-right > .sign-in-container > .sign-in-right-inner > .right-head {
  margin-bottom: 60px;
  display: flex;


  > .prev-arrow {
   position: absolute;
   left: 0;
   cursor: pointer;
  }
}

@media (max-width: 882px) {
  .sign-in {
    grid-template-columns: 1fr;
  }
  .sign-in > img {
    display: none;
  }
}

@media (max-width: 512px) {
  .sign-in > .sign-in-right > .sign-in-container {
    width: 96%;
    margin: 0 auto;
  }
}
